<body class="membership-body">
  <div class="form-container-image">

    <img style="width: 100%; height: 100%; border-radius: 38px" src='/images/dating-page1.jpg' alt="Background Image">

  </div>

  <div class="form-container">
    <div class="header-area">
      <img class="form-logo" style="height: 50px; width: 50px;" src='/images/j-svg.svg' alt="Logo">
    </div>

    <header class="form-header">
      <h1 style="font-size: 38px; color: #f9f9f9" class="form-subtitle">How about causes and communities?</h1>
      <a style="font-size: 20px;" class="form-title">Choose up to 3 options close to your heart.</a>
    </header>
    
    <form class="membership-form" action="/causesNcommunities" method="POST">
      <div class="form-group" style="gap: 15px;">
        
        <div style="font-weight: 700; color: #fff; font-size: 20px;">
          Religion
        </div>
            <div class="habits-chips-row">

                <label class="hobby-chip">
                <input type="radio" name="religion" value="Agnostic" style="display: none;" />
                Agnostic
                </label>

                <label class="hobby-chip">
                <input type="radio" name="religion" value="Atheist" style="display: none;" />
                Atheist
                </label>

                <label class="hobby-chip">
                <input type="radio" name="religion" value="Buddhist" style="display: none;" />
                Buddhist
                </label>

                <label class="hobby-chip">
                <input type="radio" name="religion" value="Catholic" style="display: none;" />
                Catholic
                </label>

                <label class="hobby-chip">
                <input type="radio" name="religion" value="Christian" style="display: none;" />
                Christian
                </label>

                <label class="hobby-chip">
                <input type="radio" name="religion" value="Hindu" style="display: none;" />
                Hindu
                </label>

                <label class="hobby-chip">
                <input type="radio" name="religion" value="Jain" style="display: none;" />
                Jain
                </label>

                <label class="hobby-chip">
                <input type="radio" name="religion" value="Jewish" style="display: none;" />
                Jewish
                </label>

                <label class="hobby-chip">
                <input type="radio" name="religion" value="Mormon" style="display: none;" />
                Mormon
                </label>

                <label class="hobby-chip">
                <input type="radio" name="religion" value="Latter-day Saint" style="display: none;" />
                Latter-day Saint
                </label>

                <label class="hobby-chip">
                <input type="radio" name="religion" value="Muslim" style="display: none;" />
                Muslim
                </label>

                <label class="hobby-chip">
                <input type="radio" name="religion" value="Zoroastrian" style="display: none;" />
                Zoroastrian
                </label>

                <label class="hobby-chip">
                <input type="radio" name="religion" value="Sikh" style="display: none;" />
                Sikh
                </label>

                <label class="hobby-chip">
                <input type="radio" name="religion" value="Spiritual" style="display: none;" />
                Spiritual
                </label>

                <label class="hobby-chip">
                <input type="radio" name="religion" value="Other" style="display: none;" />
                Other
                </label>

            </div>
    </div>

    <div>
        <div style="font-weight: 700; color: #fff; font-size: 20px;">
          Politics
        </div>  
            <div class="habits-chips-row">
                <label class="hobby-chip">
                <input type="radio" name="politics" value="Apolitical" style="display: none;" />
                Apolitical
                </label>
                
                <label class="hobby-chip">
                <input type="radio" name="politics" value="Moderate" style="display: none;" />
                Moderate
                </label>
                
                <label class="hobby-chip">
                <input type="radio" name="politics" value="Left" style="display: none;" />
                Left
                </label>
                
                <label class="hobby-chip">
                <input type="radio" name="politics" value="Right" style="display: none;" />
                Right
                </label>
                
                <label class="hobby-chip">
                <input type="radio" name="politics" value="Communist" style="display: none;" />
                Communist
                </label>
                
                <label class="hobby-chip">
                <input type="radio" name="politics" value="Socialist" style="display: none;" />
                Socialist
                </label>

                
            </div>    
    </div>

      <button style="margin-bottom: 10px;" class="submit-button white-btn">Proceed →</button>
    </form>
</div>
</div>

</body>

<script src='/javascripts/religion.js'></script>
