<body>
  <section class="upload-container">
    <h1>Upload Your Images</h1>
    <form action="/upload-images" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="images">Upload 4 to 6 Images</label>
        <input type="file" id="images" name="images" accept="image/*" multiple required>
        <p class="note">Please upload between 4 and 6 images. All images should have the same dimensions.</p>
      </div>
      <button type="submit">Upload</button>
    </form>
  </section>
</body>