<link href="https://api.fontshare.com/v2/css?f[]=satoshi@300,400,500,700,900&display=swap" rel="stylesheet">

<body class="home-body">
  
  <div class="home-left">

    <div class="home-header-logo">
      <a class="Hinge-logo">Hinge</a>
    </div>

    <div class="home-navigation">
      
      <a href='/views/profile'>
      <img class="icon icon-profile" width="50" height="50" src="https://img.icons8.com/ios-filled/50/user-male-circle.png" alt="user-male-circle"/>
      Profile
      </a>
      
      <a href="">
      <img class="icon icon-profile" width="50" height="50" src="https://img.icons8.com/ios-filled/50/star--v1.png" alt="star--v1"/>
      Standouts
      </a>
      
      <a href="">
      <img class="icon icon-profile" width="50" height="50" src="https://img.icons8.com/ios-filled/50/love-circled.png" alt="love-circled"/>
      Likes You
      </a>
      
      <a href="">
        <img class="icon icon-profile" width="50" height="50" src="https://img.icons8.com/ios/50/topic--v1.png" alt="topic--v1"/>      Matches
      </a>

    </div>

  </div>

  <div class="home-middle"></div>
  <div class="home-right">
    <div class="home-right-filters"></div>
    <div class="home-right-likes"></div>
  </div>

  {{!-- <nav class="home-navigation">
    <a class="home-link" href="/profile">Profile Page</a>
    <a class="home-link" href="/matches">Matches</a>
    <a class="home-link" href="/messages">Messages</a>
    <a class="home-link" href="/settings">Settings</a>
  </nav> --}}

  {{!-- <main class="home-content">
    <p>Find your perfect match today!</p>
  </main>

  <footer class="home-footer">
    <p>&copy; 2025 Dating Website. All rights reserved.</p>
  </footer> --}}
</body>
</html>