<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/signup.css' />
    <link rel="stylesheet" href='/stylesheets/home.css'>
    <link rel="stylesheet" href='/stylesheets/login.css'>
    <link rel="stylesheet" href='/stylesheets/home.css'>

  </head>
  <body>
    {{{body}}}
  </body>
</html>
