<body class="membership-body">

  <div class="form-container-image">
  
    <img style="width: 100%; height: 100%; border-radius: 38px" src='/images/dating-page1.jpg' alt="Background Image">
  
  </div>
  
  <div class="form-container">
    
    <div class="header-area">
      <img class="form-logo" style="height: 50px; width: 50px;" src='/images/j-svg.svg' alt="Logo">
    </div>

    <header class="form-header">
      <h1 style="font-size: 38px; color: #f9f9f9" class="form-subtitle">Welcome to <b style="color: blue;" >JustUs</b></h1>
      <a style="font-size: 20px;" class="form-title">Please enter your credentials to sign in.</a>
    </header>

    <form class="membership-form" action="/login-data" method="POST">
      <div class="form-group">
        <label class="form-label" for="email">Email</label>
        <input class="form-input" type="email" id="email" name="email" placeholder="Enter your Email address" autocomplete="off">
      </div>

      <div class="form-group">
        <label class="form-label" for="password">Password</label>
        <input class="form-input" type="password" id="password" name="password" placeholder="Create your Password" autocomplete="off">
      </div>

        {{#if message}}

          <div class="login-error-group">
        
            <p class="login-error" style="text-align: center;
                                          font-family: 'Satoshi', sans-serif;
                                          font-weight: 500;
                                          letter-spacing: 1px;">
            {{message}}
            </p>
        
          </div>
        
        {{/if}}
  
      <button style="margin-bottom: 10px;margin-top: 10px;" class="submit-button">Proceed →</button>
      
      <div>
        <label for="login-label-redirect">If you havent created account already click here to
          <a href="/signup" class="login-redirect-a" > Signup </a>
        </label>
      </div>

    </form>
  
  </div>

</body>
