<body class="membership-body">
      <div class="form-container-image">
  
    <img style="width: 100%; height: 100%; border-radius: 38px" src='/images/dating-page1.jpg' alt="Background Image">
  
  </div>
  
  <div class="form-container">

    <div class="header-area">
      <img class="form-logo" style="height: 50px; width: 50px;" src='/images/j-svg.svg' alt="Logo">
    </div>
    
    <header class="form-header">
        <h1 style="font-size: 48px; color: #f9f9f9" class="form-subtitle">Account Creation</h1>
        <a style="font-size: 25px;" class="form-title">We need a few permissions from you.</a>
    </header>
    <div class="membership-form">
        <div class="form-group">
            <label class="form-label" for="">Would you like to receive notifications?</label>
        </div>
    </div>
    <div style="margin-left: 10px;display: flex; gap: 20px">
        <button style="  height: 45px; width: fit-content; padding-left: 15px; padding-right: 15px; font-size: 15px; font-family: 'Satoshi', sans-serif; letter-spacing: 1.2px; font-weight: 600; border-radius: 38px; border: none;" 
            class="" id="enable-notifications">Allow</button>
        <button style="  height: 45px; width: fit-content; padding-left: 15px; padding-right: 15px; font-size: 15px; font-family: 'Satoshi', sans-serif; letter-spacing: 1.2px; font-weight: 600; border-radius: 38px; border: none;" 
            class=""  id="not-now">Not Now</button>
    </div>
  </div>
</body>

<script src='/javascripts/pushNotifications.js'></script> 