<!-- filepath: d:\PROJECTS\budgetwise\back-end\views\profile.hbs -->
<section class="profile-main">
    <h1>Welcome, {{user.firstName}}</h1> <!-- Display the first name -->
    <div class="profile-content"> <strong>Email:</strong> {{user.email}} </div>
    <button class="profile-btn-update" onclick="updateProfile()">Update Profile</button>

    <section class="profile-card-main-container">
        <div class="profile-images">
        <h2>Your Uploaded Images</h2>
        <div class="image-gallery">
            {{#each user.images}}
                <img src='/uploads/{{this}}' alt="Uploaded Image" class="uploaded-image">
            {{/each}}
        </div>
    </div>
    </section>
</section>