<body class="membership-body">

  <div class="form-container-image">
  
    <img style="width: 100%; height: 100%; border-radius: 38px" src='/images/dating-page1.jpg' alt="Background Image">
  
  </div>
  
  <div class="form-container">
    
    <div class="header-area">
      <img class="form-logo" style="height: 50px; width: 50px;" src='/images/j-svg.svg' alt="Logo">
    </div>

    <header class="form-header">
      <h1 style="font-size: 48px; color: #f9f9f9" class="form-subtitle">Get Started</h1>
      <a style="font-size: 25px;" class="form-title">Sign up via Email and create your own Password.</a>
    </header>

    <form class="membership-form" action="/signup-data" method="POST">
      <div class="form-group">
        <label class="form-label" for="email">Email</label>
        <input class="form-input" type="email" id="email" name="email" placeholder="Enter your Email address" autocomplete="off">
      </div>

      <div class="form-group">
        <label class="form-label" for="password">Password</label>
        <input class="form-input" type="password" id="password" name="password" placeholder="Create your Password" autocomplete="off">
      </div>

      <button style="margin-bottom: 10px;" class="submit-button">Proceed →</button>
      
      <div class="consent-group">
        <label class="consent-label" for="consent">
          By continuing, you agree to our
          <a class="consent-link" href="#">terms and conditions</a>
          , and 
          <a class="consent-link" href="#">privacy policy.</a>
        </label>
      </div>

    </form>
  
  </div>

</body>
