body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

@font-face {
  font-family: 'Nura';
  src: url('../fonts/Nura-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nura';
  src: url('../fonts/Nura-Normal.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nura';
  src: url('../fonts/Nura-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Nura';
  src: url('../fonts/Nura-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
    font-family: 'ApfelGrotezk';
    src: url('../fonts/ApfelGrotezk-Regular.woff') format('woff');
    font-weight: 400; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'ApfelGrotezk';
    src: url('../fonts/ApfelGrotezk-Mittel.woff') format('woff');
    font-weight: 500; /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'ApfelGrotezk';
    src: url('../fonts/ApfelGrotezk-Brukt.woff') format('woff');
    font-weight: 600; /* Semi-bold */
    font-style: normal;
}

@font-face {
    font-family: 'ApfelGrotezk';
    src: url('../fonts/ApfelGrotezk-Fett.woff') format('woff');
    font-weight: 700; /* Bold */
    font-style: normal;
}

@font-face {
    font-family: 'ApfelGrotezk';
    src: url('../fonts/ApfelGrotezk-Satt.woff') format('woff');
    font-weight: 800; /* Extra-bold */
    font-style: normal;
}